@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  --type-first: "Italiana", serif;
  --type-second: "Spectral", Georgia;
  font-family: var(--type-first);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

h1,
h2,
h3,
p,
label,
button,
input,
a,
#text {
  -webkit-text-stroke: 0.15px;
  letter-spacing: 0.4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
  position: static;
  border: 0;
  top: auto;
  left: auto;
  float: none;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.card {
  background: white;
  border-radius: 16px;
  max-width: 80%;
}
